.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    height: 50px;
   
}
.container2{
  
    background-image: linear-gradient(to right, aquamarine , aqua);
}